.home {
  //background-image: url("https://khoinguonsangtao.vn/wp-content/uploads/2021/10/background-anime-tuyet-dep.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: #CD519D;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.column_group {
  display: flex;
  flex-direction: row;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 25%);
}

.button_add_column {
  height: 75px;
  padding: 10px 20px;
}

h1 {
  color: white;
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  bottom: -7px;
  background-color: #ffffff7a;
}



.home_header {
  position: relative;
  width: 100%;
  display: flex;
  padding-left: 20px;
  flex-direction: row;
  overflow: auto hidden;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  gap: 20px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



